.container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    position: fixed; 
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    /* position: fixed;
    top: 0; */
    z-index: 1000;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease; /* Geçiş süresini ve fonksiyonunu belirle */
   
}

.container.blur{
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
}

.logo{
    cursor: pointer;
}

@media (max-width: 768px) {
    .container{
    display: flex;
    align-items: center;
    justify-content: center;
    }
}


