
.container{
  margin: 100px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 700px;
}

.form {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: black;
}

.form input{
  border: none;
    display: block;
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

.form textarea{
  border: none;
    display: block;
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    min-height: 200px;
    resize: none;
}

.closeButton{
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.closeButton:hover{
  background-color: rgba(0, 0, 0, 0.192);
}



.header{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header .img{
  border-radius: 50%;
}

@media (max-width: 1024px){
  .container{
      width: 668px;
  }
}
@media (max-width: 768px){
  .container{
      width: 540px;
  }
}
@media (max-width: 640px){
  .container{
      width: 400px;
  }
}

