.links{
    display: flex;
    align-items: center;
    gap: 10px;

}

.logout{
    padding: 10px;
    cursor:pointer;
    font-weight: bold;
}

.mobileLinks{
    display: none;

}

.menuButton{
    display: none;
}

 @media (max-width: 768px) {
    .links{
        display: none;
    }

    .mobileLinks{
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: rebeccapurple;
    
    }

    .menuButton{
        display: block;
        cursor: pointer;
    }
 }