.links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  padding: 10px;
  cursor: pointer;
  font-weight: 200;
  border: none;
  border-radius: 15px;
}

.menuButton {
  display: none;
}

/* .mobileOverlay {
  display: none;
} */

/* .mobileLinks {
  display: none;
} */

.mobileLinks.open {
  opacity: 1;
  transform: translate(0%);
}

.menuContainer {
  display: none;
}

.menuContainer.open {
  transform: translateX(20%); /* Sağdan içeri kayar */
  background-color: #fff;
  display: block;
  color: black;
    position: fixed;
    top: 0;
    right: 50px; /* Sağdan başlayarak */
    width: 300px; /* Menü genişliği */
    height: 100vh; /* Tam ekran yüksekliği */
    transform: translateX(100%); /* Sağdan dışarıda başlar */
    transition: transform 0.3s ease-in-out; /* Yumuşak geçiş efekti */
}

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  border-radius: 15px;
}
.menuLoginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 50px;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  cursor: pointer;
  background-color: white;
  padding: 8px;
  border: none;
}

.loginButton:hover {
  background-color: greenyellow;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .mobileLinks {
    position: fixed; /* Pozisyon sabit olmalı */
    top: 0; /* Üstten başlayarak */
    right: 0; /* Sağdan başlayarak */
    width: 300px; /* Menünün genişliği */
    height: 100%; /* Tam ekran boyu */
    transform: translateX(100%); /* Sağdan dışarıda başlar */
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; /* Yumuşak geçiş efekti */
    background-color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  } 

  .menuButton {
    display: block;
    position: absolute; /* Pozisyon sabit */
    top: 35px; /* Üstten 10px */
    left: 10px; /* Soldan 10px */
    z-index: 100; /* Z-index ile üstte tutun */
  }

  .mobileOverlay {
    display: block;
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  
}
