.container{
    display: flex;
   
}

.textContainer{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 70px;


}

.imgContainer{
    position: relative;
    flex: 1;
 }

.about{
   display: flex;
   flex: 3;
}


.title{
    font-size: 96px;
    /* text-shadow: 1px -1px 1px #220310,
    1px -3px 1px #220310, 
    2px -3px 1px #220310, 
    3px -3px 1px #220310, 
    4px -3px 1px #220310, 
    5px -7px 6px rgba(16,16,16,0.4); */
    flex: 1;
    color: white;
}


 .img{
    object-fit: contain;
 }

.description{
    font-size: 20px;
    
}

.buttons{
    display: flex;
    gap: 20px;
}

.button{
    padding: 15px;
    min-width: 120px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: var(--text);

}

.icons{
    display: flex;
    gap: 20px;
}

.button:first-child{
    background-color: var(--btn);
    color: var(--text);
}



 .blogs{
    background-color: #F4F2EE;
    flex: 1;
    color: black;
    border-radius: 5px;
    box-shadow: 1px 3px 3px black;
 }