.container{
    display: flex;
   
}

.textContainer{
    display: flex;
    flex-direction: column;
   
    flex: 1;
    gap: 70px;
    position: relative;
    z-index: 1;
}

.empty{
    flex: 1;
}
.imgContainer{
    position: absolute;
    bottom: 100px;
    right: 1150px;
    width: 700px;
    height: 500px;
    z-index: 0;
 }

.about{
   display: flex;
   flex: 2;
}


.title{
    font-size: 96px;
    text-shadow: 2px 2px 10px #ff5252; 
    flex: 1;
}


 .img{
    object-fit: cover;
 }

.description{
    font-size: 16px;
    
}



 .blogs{
    border: 1px solid #ff5252;
    flex: 1;
 }