.input{
    border: none;
    display: block;
    background-color: rgb(237, 237, 237);
    width: 100%;
    padding: 15px;
    border-radius: 8px;
}

.error{
    color: red;
    font-size: 12px;
}

.header{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
    font-size: larger;
}

.inputContainer{
    width: 80%;
}


.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    color: black;
    padding: 50px;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 20px;
    border-radius: 8px;
    font-size: .875rem;
}
.checkbox {
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: auto;
  }

.actions{
    text-align: center;
}
.link{
    color: rgb(123, 0, 255);
    cursor: pointer;
    padding-top: 5px;
}

.link:hover{
    text-decoration: underline;
}