.container{
  background-color: #fff;
  position: relative;
}

.header{
  padding: 10px;
  display: flex;
  gap: 10px;
}

.userPhoto{
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.userName{
  font-weight: 500;
}

.userRole{
  font-weight: 300;
}

.userDetails{
  font-size: small;
  font-weight: 300;
}

.postTime{
  font-size: small;
  font-weight: 200;
}

.postSection{
  font-size: small;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.postText{
  flex: 1;
  padding-bottom: 10px;
}

.readMore{
  color: #0140fdb8;
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.readMore:hover{
  text-decoration: underline;
  
}
