.container{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
}

.container:hover{
    background-color: var(--text);
    color:black;
}

.active{
    background-color: var(--text);
    color: black;
}

