.container{
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
}

.container:hover{
    color:rgba(0, 0, 0, 0.54);
}

.active{
    color:rgba(0, 0, 0, 0.54);
}

